<div class="nested-form-wrapper" data-new-record="<%= f.object.new_record? %>">
  <%= f.label 'Column Name' %>
  <%= f.text_field :name, class:"form-control", style: 'width: 300px;' %>

  <button type="button" class="btn btn-warning" data-action="nested-form#remove">Remove Column</button>

  <%= f.hidden_field :_destroy %>
</div>