<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hero</title>
</head>
<body>
  <h1>Card Info</h1>
  <ul>
    <li><%= @card.name %></li>
    <li><%= @card.start_date %></li>
    <li><%= @card.due_date %></li>
  </ul>
   
  <%= button_to "Destroy this Card", @card, method: :delete %>

</body>
</html>